@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 220 85% 94%;
    --foreground: 221 5% 10%;
    --card: 221 50% 90%;
    --card-foreground: 221 5% 15%;
    --popover: 221 100% 95%;
    --popover-foreground: 221 100% 10%;
    --primary: 221 84.5% 56.9%;
    --primary-foreground: 0 0% 100%;
    --secondary: 221 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 222 80% 97%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 221 30% 50%;
    --input: 221 30% 26%;
    --ring: 221 84.5% 56.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 0 0% 11%;
    --foreground: 221 5% 90%;
    --card: 221 50% 10%;
    --card-foreground: 221 5% 90%;
    --popover: 221 50% 5%;
    --popover-foreground: 221 5% 90%;
    --primary: 221 84.5% 56.9%;
    --primary-foreground: 0 0% 100%;
    --secondary: 221 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 0 0% 16%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 221 30% 26%;
    --input: 221 30% 26%;
    --ring: 221 84.5% 56.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
